# Byte‑compiled / optimized / DLL files
__pycache__/
*.py[cod]                                    # fichiers compilés Python :contentReference[oaicite:0]{index=0}
*$py.class

# Virtual environments
.env/                                        # dossiers d’environnement (venv, .env, ENV…) :contentReference[oaicite:1]{index=1}
venv/
env/
ENV/
airflow-docker/airflow_env

# Distribution / packaging
build/
dist/
*.egg-info/
.installed.cfg
*.egg

# Logs and databases
*.log
*.sqlite3

# JetBrains PyCharm, WebStorm, IntelliJ, etc.
*.ipr
*.iws
.idea/*
!.idea/vcs.xml           # configuration VCS partagée
!.idea/encodings.xml     # encodages de fichiers
!.idea/codeStyleSettings.xml  # conventions de formatage
!.idea/modules.xml       # modules du projet
!.idea/*.iml             # modules IntelliJ IDEA


# macOS
.DS_Store

# Coverage reports
htmlcov/
.coverage

# pytest
.cache/

# MyPy
.mypy_cache/

# Docker
*.pid
*.sock

# VSCode (si utilisé)
.vscode/

# Généré via https://www.toptal.com/developers/gitignore › Python, PyCharm :contentReference[oaicite:4]{index=4}
